/* colors */

$color-red: #e63841;

/* font */
$font-size-base: 18px;

/* queries */
$desktop: "(max-width: 1150px)";
$desktop-up: "(min-width: 1151px)";
$desktop-small: "(max-width: 1440px)";
$desktop-large: "(min-width: 1441px)";
