<header class="header">
    <div class="header__top clearfix">
        <div class="wrapper">
            <div class="header__top__languages">
                <ul class="lang-switcher">
                    <li class="lang active">
                        <a href="" title="Hungarian">Hu</a>
                    </li>
                    <li class="lang">
                        <a href="" title="English">En</a>
                    </li>
                </ul>
            </div>
            <div class="header__top__social">
                <ul class="social-buttons">
                    <li class="social-btn">
                        <a href="" title="Facebook">
                            <i class="icon icon-facebook"></i>
                        </a>
                    </li>
                    <li class="social-btn">
                        <a href="" title="Instagram">
                            <i class="icon icon-instagram"></i>
                        </a>
                    </li>
                    <li class="social-btn">
                        <a href="" title="Vimeo">
                            <i class="icon icon-vimeo"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__middle clearfix">
        <div class="wrapper">
            <div class="logo">
                <a href="" title=""><img width="216" src="img/logo.png"></a>
            </div>
            <nav class="nav">
                <div class="dropdown">
                    <a href="" class="nav-item dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="RÓLUNK">
                        RÓLUNK
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <a class="nav-item" href="" title="MUNKÁINK">MUNKÁINK</a>
                <a class="nav-item" href="" title="SAJTÓ">SAJTÓ</a>
                <a class="nav-item" href="" title="KAPCSOLAT">KAPCSOLAT</a>
                <div class="dropdown">
                    <a href="" class="nav-item dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        ATL
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                    </ul>
                </div>
                <a class="nav-item" href="" title="EVENT">EVENT</a>
                <a class="nav-item" href="" title="INTEGRÁLT">INTEGRÁLT</a>
            </nav>
        </div>
    </div>
    <div class="header__bottom">
        <div class="wrapper">
            <a class="btn--back" href="" title=""><i class="icon-triangle"></i><span>VISSZA</span></a>
        </div>
    </div>
</header>