@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";

body {
  font-family: 'ArticulatCF', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
select {
  border:none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'ArticulatCF', sans-serif;
}
.clearfix:after, .grid:after {
  content: " ";
  display: table;
  clear: both;
}
.wrapper {
  box-sizing: border-box;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.icon-triangle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 13px solid #000;
  border-bottom: 8px solid transparent;
}
.masonry {
  margin-top: 20px;
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.grid {
  max-width: 1150px;
}
.grid-item {
  box-sizing: border-box;
  //margin: 5px;
  margin: .4%;
  float: left;
  overflow: hidden;
  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    .image {
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all .3s ease-out;
    }
    &:hover .image{
      transform: scale(1.1);
      transition: all .3s ease-out;
    }
  }
  .title {
    position: absolute;
    padding-left: 30px;
    padding-right: 10px;
    background-color: rgba(30, 30, 28, .9);
    color: #fff;
    text-transform: uppercase;
    word-break: break-word;
    .head {
      display: block;
      font-family: "alsschlange", "Arial", sans-serif;
      font-weight: 500;
      font-size: 16.5px;
    }
    .desc {
      margin-top: 10px;
      display: block;
      font-size: 15.5px;
    }
  }
  .title__inner {
    display: table-cell;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .title--bottom {
    display: table;
    bottom: 0;
    width: 100%;
    min-height: 30%;
  }
  .title--right {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding-top: 60px;
  }
  .title--black {
    background-color: rgba(30, 30, 28, .9);
  }
  .title--red {
    background-color: rgba(230, 56, 65, .9);
  }
  .title--blue {
    background-color: rgba(77, 203, 186, .9);
  }
  .title--gray {
    background-color: rgba(154, 155, 157, .9);
  }
}
.grid-item--width1 {
  width:  240px;
}
.grid-item--width2 {
  width:  460px;
}
.grid-item--width3 {
  width:  420px;
}
.grid-item--height1 {
  height: 250px;
}
.grid-item--height2 {
  height: 345px;
}
.grid-item--height3 {
  height: 420px;
}
.grid-item--height4 {
  height: 250px;
}
.grid-item--height5 {
  height: 260px;
}
.grid-sizer {
  width: 10px;
}
@media screen and (max-width: 1160px) {
  .grid-item {
    width: 32.3333%;
    margin: .5%;
  }
  .grid-sizer {
    width: 33.3333%;
  }
}

@media screen and (max-width: 760px) {
  .grid-item {
    width: 49%;
    margin: .5%;
  }
  .grid-sizer {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .grid-item {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .grid-sizer {
    width: 100%;
  }
}

.footer {
  margin-top: 90px;
  font-family: "Bitter", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16.5px;

}
.footer__inner {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #acacac;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .footer__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.slider1 {
  min-height: 505px;
  margin-top: 20px;
  background-image: url("../img/slider1-no-drawns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .head {
    //margin-top: 230px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper {
    min-height: 505px;
    display: table;
  }
}

.owl-dots  {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    margin: 6px;
    span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      transition: all .2s ease;
    }
    &.active {
      span {
        transition: all .2s ease;
        background-color: $color-blue;
      }
    }
  }
}
.important {
  position: relative;
  padding-top: 100px;
  padding-bottom: 220px;
  background-image: url("../img/background1-no-drawns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  p, li {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 13px solid #000;
      border-bottom: 8px solid transparent;
    }
  }
  .bigger {
    font-size: 22px;
  }
}
.arrow-down {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 61px;
  height: 34px;
  background-image: url("../img/arrow-down.png");
  background-repeat: no-repeat;
}
