@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";

body {
  font-family: 'ArticulatCF', 'Arial', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
select {
  border:none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  font-family: 'ArticulatCF', sans-serif;
}
.clearfix:after, .grid:after {
  content: " ";
  display: table;
  clear: both;
}
.wrapper {
  box-sizing: border-box;
  max-width: 1160px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}
.icon-triangle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 13px solid #000;
  border-bottom: 8px solid transparent;
}
aside.menu {
  flex: 0 0 240px;
  margin-top: .4%;
  margin-right: 5px;
  .grid-item {
    margin-bottom: 10px;
  }
}

.masonry {
  margin-top: 20px;
  .wrapper {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
  }
}
.grid-wrapper {
  flex: 1;
}
.grid {
  .grid-item {
    margin: 5px;
  }
}
.grid-item {
  box-sizing: border-box;
  //margin: 5px;
  //margin: .4%;
  float: left;
  overflow: hidden;
  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    .image {
      display: block;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      transition: all .3s ease-out;
    }
    &:hover .image{
      transform: scale(1.1);
      transition: all .3s ease-out;
    }
  }
  .title {
    position: absolute;
    padding-left: 30px;
    padding-right: 10px;
    background-color: rgba(30, 30, 28, .9);
    color: #fff;
    text-transform: uppercase;
    word-break: break-word;
    .head {
      display: block;
      font-family: "alsschlange", "Arial", sans-serif;
      font-weight: 500;
      font-size: 16.5px;
    }
    .desc {
      margin-top: 10px;
      display: block;
      font-size: 15.5px;
    }
  }
  .title__inner {
    display: table-cell;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .title--bottom {
    display: table;
    bottom: 0;
    width: 100%;
    min-height: 30%;
  }
  .title--right {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding-top: 60px;
  }
  .title--black {
    background-color: rgba(30, 30, 28, .9);
  }
  .title--red {
    background-color: rgba(230, 56, 65, .9);
  }
  .title--blue {
    background-color: rgba(77, 203, 186, .9);
  }
  .title--gray {
    background-color: rgba(154, 155, 157, .9);
  }
}
.grid-item--width1 {
  width:  240px;
}
.grid-item--width2 {
  width:  460px;
}
.grid-item--width3 {
  width:  420px;
}
.grid-item--height1 {
  height: 250px;
}
.grid-item--height2 {
  height: 345px;
}
.grid-item--height3 {
  height: 420px;
}
.grid-item--height4 {
  height: 250px;
}
.grid-item--height5 {
  height: 260px;
}
.grid-sizer {
  width: 10px;
}
@media screen and (max-width: 1160px) {
  .grid-wrapper {
    .grid-item {
      width: 49%;
      margin: .5%;
    }
    .grid-sizer {
      width: 50%;
    }
  }

}

@media screen and (max-width: 760px) {
  .grid-wrapper {
    .grid-item {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
    .grid-sizer {
      width: 100%;
    }
  }
  aside.menu {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  aside.menu {
    flex: auto;
    width: 100%;
    .grid-item {
      width: 50%;
    }
  }
  .grid-wrapper {
    flex: auto;
  }
}

.footer {
  margin-top: 90px;
  font-family: "Bitter", "Arial", sans-serif;
  font-weight: 600;
  font-size: 16.5px;

}
.footer__inner {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #acacac;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .footer__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.slider1 {

  margin-top: 20px;
  background-image: url("../img/slider1-no-drawns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .head {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }
  .wrapper {
    min-height: 505px;
    display: table;
  }
}

.owl-dots  {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  .owl-dot {
    display: inline-block;
    zoom: 1;
    margin: 6px;
    span {
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      transition: all .2s ease;
    }
    &.active {
      span {
        transition: all .2s ease;
        background-color: $color-blue;
      }
    }
  }
}
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  background-color: #e3e3e3;
  transition: all .2s ease;
  font-size: 0;
  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 40px;
    left: 23px;
    width: 20px;
    height: 3px;
    background: rgba(0, 0, 0, 1);
    //border-radius: 35px;
    transform: rotate(45deg);
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 27px;
    left: 23px;
    width: 20px;
    height: 3px;
    background: rgba(0, 0, 0, 1);
    //border-radius: 35px;
    transform: rotate(-45deg);
  }
}
.owl-prev {
  left: 0;

}
.owl-next {
  right: 0;
  transform: rotate(180deg);
}
.disabled {
  z-index: -1;
  opacity: 0;
  transition: all .2s ease;
}
.important {
  position: relative;
  padding-top: 100px;
  padding-bottom: 220px;
  background-image: url("../img/background1-no-drawns.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  p, li {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  li {
    position: relative;
    padding-left: 20px;
    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 13px solid #000;
      border-bottom: 8px solid transparent;
    }
  }
  .bigger {
    font-size: 22px;
  }
}
.section-with-arrow {
  position: relative;
  .arrow-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 61px;
    height: 34px;
    background-image: url("../img/arrow-down.png");
    background-repeat: no-repeat;
  }
}

.process {
  background-color: #252525;
  position: relative;
  .head {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
}
.process__inner {
  padding-top: 50px;
}
.process__scheme {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 170px;
  transition: all .2s ease;
  .line {
    width: 100%;
    margin-top: 100px;
    transition: all .2s ease;
  }
  .image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 159px;
    margin-right: 90px;
    margin-left: 90px;
    transition: all .2s ease;
    &:before {
      position: absolute;
      top: 50%;
      right: -140px;
      margin-top: -30px;
      content: "";
      display: block;
      width: 89px;
      height: 21px;
      background-image: url("../img/arrow-process.png");
      background-repeat: no-repeat;
      background-size: cover;
      transition: all .2s ease;
    }
    &:last-child {
      &:before {
        display: none;
      }
    }
  }
  .title {
    margin-top: 15px;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16.5px;
    color: #fff;
  }
}
@media screen and (max-width: 1060px) {
  .process__scheme {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    .line {
      width: 100%;
      margin-top: 50px;
    }
    .image {
      width: 120px;
      margin-right: 50px;
      margin-left: 50px;
      &:before {
        right: -80px;
        margin-top: -30px;
        width: 65px;
        height: 15px;
      }
    }
  }
}
.tools {
  position: relative;
}
.objects {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.info {
  display: table;
  position: absolute;
  top: -30px;
  left: -50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid $color-red;
  color: #fff;
  background-color: #000;
  text-align: center;
  font-family: "alsschlange", "Arial", sans-serif;
  opacity: 0;
  z-index: -1;
  transition: all .2s ease;
  transform: scale(.3);
}
.object {
  position: absolute;
  &:hover {
    .info {
      opacity: 1;
      z-index: 9999;
      transition: all .2s ease;
      transform: scale(1);
    }
  }
}
.info__inner {
  display: table-cell;
  vertical-align: middle;
  //padding-left: 43px;
  //padding-right: 43px;
  margin: 0 auto;
}
.info__head {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.info__desc {
  margin-top: 5px;
  font-size: 16px;
}
.object-m {
  top: 4%;
  left: 16.7%;
}
.object-a {
  top: 43%;
  left: 16.7%;
}
.object-i {
  top: 37%;
  left: 44.1%;
}
.object-p {
  top: 16%;
  left: 46.1%;
}
.object-e {
  top: 34%;
  left: 56.1%;
}
.object-b {
  top: 34%;
  left: 77.9%;
}
.letter {
  display: table;
  width: 100px;
  line-height: 94px;
  border-radius: 50%;
  border: 3px solid $color-red;
  font-family: "alsschlange", "Arial", sans-serif;
  font-weight: 500;
  font-size: 70px;
  color: $color-red;
  background-color: #000;
  text-transform: uppercase;
  text-align: center;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1160px) {
  .letter {
    width: 8.5vw;
    line-height: 8vw;
    font-size: 6vw;
  }
}
@media screen and (max-width: 690px) {
  .tools__background {
    display: none;
  }
  .object {
    position: static;
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    .letter {
      //display: none;
      margin: 20px auto;

    }
    .info {
      display: inline-block;
      position: static;
      opacity: 1;
      transform: scale(1);
      border: none;
      height: auto;
      background-color: transparent;
    }
    .info__inner {
      display: block;
    }
  }
  .process__scheme .image:before {
    display: none;
  }
}
@media screen and (max-width: 465px) {
  .object {
    width: 100%;
  }
  .process__scheme .image {
    margin-top: 30px;
  }
}

.team {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #40dac5;
  .head {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
  }
}
.team__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.person {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 25%;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}
.person__pic {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 10px;
}
.person__name {
  margin-top: 30px;
  font-family: "alsschlange", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.person__position {
  width: 100%;
  margin-top: 5px;
  background-color: #000;
  text-align: center;
  line-height: 30px;
  font-family: "alsschlange", "Arial", sans-serif;
  font-size: 16px;
  color: #fff;
}
@media screen and (max-width: 1060px) {
  .person {
    width: 33.333%;
  }
}
@media screen and (max-width: 767px) {
  .person {
    width: 50%;
  }
}
.management {
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
  background-image: url("../img/managment.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .head, .head-under {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
  .head-under {
    font-size: 23px;
    font-weight: 400;
  }
}
.management__texts {
  display: flex;
  margin-top: 190px;
  justify-content: space-between;
  .text {
    width: 30%;
    color: #fff;
    font-family: "alsschlange", "Arial", sans-serif;
    text-align: justify;
    font-size: 18px;
  }
  .who {
    font-family: "Bitter", "Arial", sans-serif;
    text-align: left;
  }
  .where {
    text-align: left;
    font-style: italic;
  }
}
@media screen and (max-width: 767px) {
  .management__texts {
    margin-top: 30px;
    flex-direction: column;
    .text {
      width: 100%;
    }
  }
}
.partners {
  padding-top: 50px;
  padding-bottom: 80px;
  .head {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
  }

}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  .column {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    &:nth-child(1) {
      align-items: flex-end;
      margin-top: 40px;
      .partner {
        margin-top: 50px;
      }
    }
    &:nth-child(2) {
      align-items: center;
      .partner {
        margin-top: 20px;
      }
    }
    &:nth-child(3) {
      align-items: flex-start;
      margin-top: 40px;
      .partner {
        margin-top: 50px;
      }
    }
  }

}
.partner {
  width: 200px;
  text-align: center;
  font-family: "alsschlange", "Arial", sans-serif;
  .name {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
  }
  .desc {
    font-weight: 500;
    font-style: 16px;
  }
}
@media screen and (max-width: 600px) {
  .partners__list {
    .column {
      width: 100%;
      align-items: center !important;
    }
  }
}
.clients {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #252525;
  .head {
    margin: 0;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  .client {
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: .7;
    transition: all .2s ease;
    &:hover {
      transition: all .2s ease;
      opacity: 1;
    }
    img {
      margin: 0 auto;
      text-align: center;
    }
  }
}
@media screen and (max-width: 1000px) {
  .clients__list {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 760px) {
  .clients__list {
    padding-left: 0;
    padding-right: 0;
    .client {
      width: 33.333%;
    }
  }
}
@media screen and (max-width: 460px) {
  .clients__list {
    .client {
      width: 100%;
    }
  }
}
.promo {

}
.promo__inner {
  display: flex;
  //flex-direction: column;
  min-height: 752px;
  .column {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 20%;
    height: 100%;
    font-size: 40px;
    margin: 10px;
    box-sizing: border-box;
  }
  .column--wide {
    width: 40%;
  }
  .block--wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 33.3333%;
  }

  .block {
    width: 50%;
    height: 100%;
    background-color: #f0ad4e;
  }
  .block--full-width {
    width: 100%;
    height: 33.3333%;
  }
  .block--long {
    width: 100%;
    height: 66.6666%;
    background-color: mediumvioletred;
  }
  .block--big {
    width: 100%;
    height: 66.66666%;
    background-color: #40dac5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .block--margin-top {
    margin-top: 20px;
  }
  .block--margin-bottom {
    margin-bottom: 20px;
  }
  .block--margin-right {
    margin-right: 20px;
  }
  .promo-btn {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #fff;
    line-height: 30px;
    font-family: "alsschlange", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
  }
  .image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      padding-right: 10px;
      display: block;
      font-family: "alsschlange", "Arial", sans-serif;
      font-weight: 300;
      font-size: 16px;
      background-color: rgba(30, 30, 28, .7);
      color: #fff;
    }
  }
}
@media screen and (max-width: 1060px) {
  .promo__inner {
    flex-wrap: wrap;
    .column, .column--wide {
      width: 100%;
    }
    .block {
      height: 300px;
    }
  }
}